.animon.sheet.actor {
    h3 {
        border: none;
    }

    .center {
        text-align: center;
    }

    .item-box-border {
        border: 3px solid $black;
        border-radius: 15px;
        padding: 10px;
        margin: 2px;
        background-color: $white;
    }

    .stage-box-border {
        border: 3px solid $mid-gray;
        border-radius: 15px;
        padding: 10px;
        margin: 2px 2px 10px 2px;
        background-color: $light-gray;
    }

    .title-box-border {
        border: 3px solid $black;
        border-radius: 15px;
        padding: 10px;
        margin: 2px 2px 10px 2px;
        background-color: $white;
    }

    .animon-info {
        display: grid;
        grid-template-columns: 40% 60%;

        .animon-info-stats {
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }

    .animon-title {
        h3 {
            margin: 0;
        }
    }

    .animon-info,
    .animon-info-input {

        input[type="number"] {
            padding: 4px;
            height: auto;
            text-align: center;
        }

        .title {
            border-bottom: 1px solid $black;
        }
    }

    .animon-info-input {
        display: grid;
        grid-template-columns: 20% 20% 60%;
    }

    .animon-stats {
        height: max-content;
    }

    .text-centered {
        text-align: center;
    }

    .animon-heart,
    .animon-power,
    .animon-agility,
    .animon-brains {
        padding: 4px;

        &-title {
            display: flex;
            justify-content: center;

            a {
                margin-left: 2px;
            }

            h4 {
                margin-left: 19.5px;
            }

        }
    }

    .animon-heart,
    .animon-power,
    .animon-agility {
        border-bottom: 1px dotted $black;
    }

    .animon-hit-points,
    .animon-damage,
    .animon-dodge,
    .animon-initiative {
        text-align: center;

        &-title {
            display: flex;
            justify-content: center;

            a {
                margin-left: 2px;
            }

            h4 {
                margin: 0 0 0 19.5px;
            }
        }
    }

    .animon-damage,
    .animon-dodge,
    .animon-initiative {
        padding: 20px 10px;
    }

    .animon-hit-points {
        input {
            max-width: 50%;
            border: none;
            border-bottom: 1px solid $black;
            border-radius: 0;
            margin: 4px;
            background-color: $light-blue;
        }
    }

    .quality-main-title,
    .talent-main-title {
        display: grid;
        grid-template-columns: 72% 18% 10%;
        border-bottom: 1px solid $black;

        h4 {
            margin: 0;
            border-right: 1px solid $black;
        }

        a {
            text-align: center;
        }
    }

    .quality-title {

        display: flex;

        a {
            margin-left: auto;
        }
    }

    .signature-attack-title {
        display: grid;
        grid-template-columns: auto 14px;

        h4 {
            padding-left: 14px;
        }

        i {
            border-bottom: 1px $black solid;
            padding-bottom: 2px;
        }

    }

    .qualities {
        display: grid;
        grid-template-columns: 75% 25%;
    }

    .quality-item,
    .talent-item,
    .relationship-item {
        display: grid;
        grid-template-columns: 90% 10%;
    }

    .relationship-item {
        border-bottom: dashed 1px $black;
        margin-bottom: 2px;

        p {
            margin: 0 0 2px 0;
        }
    }

    .relationships-title {
        display: grid;
        grid-template-columns: 90% 10%;
        border-bottom: solid 1px $black;
        margin-bottom: 4px;

        h4 {
            margin: 0;
        }

        a {
            text-align: center;
        }


    }

    .signatureAttack-selected {
        .signature-attack-border {
            background-color: $light-green;
        }
    }

    .quality-selected,
    .talent-selected {
        background-color: $light-green;
    }

    .animon-qualities-list,
    .child-talents-list {

        .quality-item:not(:last-child),
        .talent-item:not(:last-child) {
            border-bottom: 1px dotted $black;
        }

        .quality-item-display,
        .talent-item-display {
            display: grid;
            grid-template-columns: 80% 20%;

            div {
                border-right: 1px solid $black;
            }

            div:nth-child(2) {
                text-align: center;
            }
        }

        .quality-item-buttons,
        .talent-item-buttons {
            text-align: center;
        }
    }

    .signature-attack-main {
        text-align: center;
        border-bottom: 1px solid $black;
    }

    .signatureAttack-item {

        display: grid;
        grid-template-columns: 90% 10%;

        h4 {
            margin: auto 0 auto 0;
        }

        .sa-rank-element {
            display: grid;
            grid-template-columns: 30% 70%;
        }

        .sainput {
            display: grid;
            grid-template-columns: 60px auto;
            padding: 2px 0 2px 0;
        }

        .sa-border:not(:last-child) {
            border-bottom: 1px dotted $black;
        }

        .signatureAttack-item-buttons {
            margin: auto;
        }
    }

    .signature-attack-border {
        border: 1px solid $black;
        border-radius: 3px;
        padding: 4px;
        margin: 2px;
    }

    .classification,
    .element,
    .nature,
    .animon-stage-name,
    .kid-name,
    .virtue,
    .flaw,
    .desire,
    .special-item,
    .kid-type,
    .animon-stage-name,
    .animon-current-stage {
        display: grid;
        grid-template-columns: max-content auto;

        h3,
        h4 {
            margin: auto 0.5rem auto 0;
        }

        p {
            margin: auto 0 auto 0;
        }
    }

    .animon-current-stage {
        select {
            width: max-content;
        }
    }

    .virtue-flaw,
    .desire-special {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .kid-top {
        display: grid;
        grid-template-columns: max-content auto;
    }

    .kid-title {
        display: flex;
        vertical-align: middle;

        h3 {
            margin: auto 1.5rem auto 1.5rem;
        }
    }

    .class-element {
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .child-stats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .child-logic,
        .child-reflex,
        .child-spirit {
            display: grid;
            justify-content: center;

            a {
                margin-left: 2px
            }

            h4 {
                margin-left: 19.5px;
            }

            &-title {
                display: flex;
            }
        }

        .child-logic,
        .child-reflex {
            border-right: 1px dotted $black;
        }

        input {
            width: 40px;
            margin: 0 auto;
            text-align: center;
        }
    }

    .stamina {
        display: grid;
        grid-template-columns: max-content 1fr 26px 1fr;

        h4 {
            margin: auto 10px auto 0;
        }

        input {
            width: 80px;
            text-align: center;
        }

        input:first-child {
            margin-left: auto;
        }
    }

    .stamina-line {
        width: 36.6px;
        border-bottom: 2px dashed $black;
        transform: rotate(-45deg);
        transform-origin: bottom left;
    }

    .child-traits {
        h3 {
            text-align: center;
            border-bottom: 1px solid $black;
        }
    }

    .kid-sheet {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .kid-type,
    .kid-stuff {
        border-bottom: 1px solid $black;
        margin-bottom: 4px;
    }

    .kid-name,
    .virtue-flaw,
    .desire-special,
    .kid-type {
        padding: 0px 0 4px 0px;
    }



    .harm {
        &-title {
            display: flex;
            margin-bottom: 4px;
            border-bottom: 1px solid $black;

            h4 {
                margin: auto 0;
            }

            h4:nth-child(2) {
                margin-left: auto;
            }
        }

        &-input {
            display: flex;
            margin-bottom: 4px;
            padding-bottom: 2px;
            border-bottom: 1px dotted $black;

            h4 {
                margin: auto 10px auto 0;
            }
        }
    }

    .bond {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .bond-points {
        display: grid;
        grid-template-columns: max-content 1fr 26px 1fr;

        h4 {
            margin: auto 0 auto 0;
            padding: 0 10px 0 0;
            border-right: 1px black solid;
        }

        input {
            width: 30px;
            text-align: center;
        }

        input:nth-child(2) {
            margin: auto 0 auto auto;
        }

        input:nth-child(4) {
            margin: auto auto auto 0;
        }
    }

    .bond-points-line {
        width: 42px;
        border-bottom: 2px dashed $black;
        transform: rotate(-49deg);
        transform-origin: bottom left;
    }

    .bond-strain {
        display: grid;
        grid-template-columns: max-content auto;

        h4 {
            margin: auto 0 auto 0;
            padding: 0 10px 0 0;
            border-right: 1px black solid;
        }

        input {
            width: 30px;
            text-align: center;
            margin: auto;
        }
    }

    .bond-level {
        display: grid;
        grid-template-columns: max-content auto;

        h4 {
            margin: auto 0 auto 0;
            padding: 0 10px 0 0;
            border-right: 1px black solid;
        }

        input {
            width: 30px;
            text-align: center;
            margin: auto;
        }
    }

    .xp-bond-level {
        display: grid;
        grid-template-columns: max-content auto;
    }

    .xp {
        display: flex;

        h4 {
            padding-right: 6px;
            margin: auto 0;
        }
    }

    .xp-points {
        display: flex;
    }

    .set-xp {
        margin: auto 0;
    }

    .xp-selected,
    .xp-unselected {
        circle {
            stroke: $black;
            stroke-width: 2;
        }
    }

    .xp-unselected {
        circle {
            fill: $white;
        }
    }

    .xp-selected {
        circle {
            fill: $mid-gray;
        }
    }

    .editor {
        height: 6.25rem;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid darkgray;
        border-radius: 3px;

        .tox-tbtn[title="Insert/edit link"],
        .tox-tbtn[title="Horizontal line"] {
            display: none;
        }

        p {
            margin: 0.25rem;
        }

        .tox .tox-tbtn {
            transform: scale(0.9);
            height: 18px;
            width: auto;
        }

        .tox.tox-tinymce .tox-tbtn[title="Formats"] {
            width: 80px;
        }

        .tox .tox-toolbar__group {
            padding: 0;
        }
    }
}